main {
    display: flex;
}

div {
    border: 3px solid black;
    background-color: antiquewhite;
    color: palevioletred;
    font-size: 11px;
    margin: 50px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    padding: 0;
}

.div1 {
    transform: translate(30px, 30px);
}

.div2:hover {
    transform: translate(-20px, -18px);  
}

.div3 {
    transform: scale(1.5, 0.5);
}

.div4 {
    transform: rotate(45deg);
}

.div5:hover {
    transform: rotate(-50deg);
}